arithmetic.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://zolee.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://zolee.com/"
	name="ArithmeticServiceImplService">
	<types />
	<message name="add">
		<part name="arg0" type="xsd:string" />
		<part name="arg1" type="xsd:string" />
	</message>
	<message name="addResponse">
		<part name="return" type="xsd:float" />
	</message>
	<message name="divide">
		<part name="arg0" type="xsd:string" />
		<part name="arg1" type="xsd:string" />
	</message>
	<message name="divideResponse">
		<part name="return" type="xsd:float" />
	</message>
	<message name="subtract">
		<part name="arg0" type="xsd:string" />
		<part name="arg1" type="xsd:string" />
	</message>
	<message name="subtractResponse">
		<part name="return" type="xsd:float" />
	</message>
	<message name="multiply">
		<part name="arg0" type="xsd:string" />
		<part name="arg1" type="xsd:string" />
	</message>
	<message name="multiplyResponse">
		<part name="return" type="xsd:float" />
	</message>
	<portType name="ArithmeticService">
		<operation name="add" parameterOrder="arg0 arg1">
			<input
				wsam:Action="http://zolee.com/ArithmeticService/addRequest"
				message="tns:add" />
			<output
				wsam:Action="http://zolee.com/ArithmeticService/addResponse"
				message="tns:addResponse" />
		</operation>
		<operation name="divide" parameterOrder="arg0 arg1">
			<input
				wsam:Action="http://zolee.com/ArithmeticService/divideRequest"
				message="tns:divide" />
			<output
				wsam:Action="http://zolee.com/ArithmeticService/divideResponse"
				message="tns:divideResponse" />
		</operation>
		<operation name="subtract" parameterOrder="arg0 arg1">
			<input
				wsam:Action="http://zolee.com/ArithmeticService/subtractRequest"
				message="tns:subtract" />
			<output
				wsam:Action="http://zolee.com/ArithmeticService/subtractResponse"
				message="tns:subtractResponse" />
		</operation>
		<operation name="multiply" parameterOrder="arg0 arg1">
			<input
				wsam:Action="http://zolee.com/ArithmeticService/multiplyRequest"
				message="tns:multiply" />
			<output
				wsam:Action="http://zolee.com/ArithmeticService/multiplyResponse"
				message="tns:multiplyResponse" />
		</operation>
	</portType>
	<binding name="ArithmeticServiceImplPortBinding" type="tns:ArithmeticService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="add">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://zolee.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://zolee.com/" />
			</output>
		</operation>
		<operation name="divide">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://zolee.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://zolee.com/" />
			</output>
		</operation>
		<operation name="subtract">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://zolee.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://zolee.com/" />
			</output>
		</operation>
		<operation name="multiply">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://zolee.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://zolee.com/" />
			</output>
		</operation>
	</binding>
	<service name="ArithmeticServiceImplService">
		<port name="ArithmeticServiceImplPort" binding="tns:ArithmeticServiceImplPortBinding">
			<soap:address location="http://127.0.0.1:8080/arithmeticservice" />
		</port>
	</service>
</definitions>